[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
akshare = "1.18.28"
pandas = "3.0.1"

[dev-packages]
black = "26.1.0"
isort = "8.0.0"

[requires]
python_version = "3.12"
